<mat-toolbar color="primary" class="center">
  <span>Ajout d'un bovin extérieur</span>
</mat-toolbar>

<div>
  <button mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <form [formGroup]="cowBirthForm" (ngSubmit)="onSubmit()" class="parent">
    <mat-form-field class="full-width-input">
      <input matInput placeholder="Numéro de boucle" formControlName="loopNumber">
    </mat-form-field>

    <mat-form-field class="full-width-input">
      <input matInput placeholder="Robe" formControlName="coat">
    </mat-form-field>

    <mat-checkbox formControlName="gender">Genre (cocher si male)</mat-checkbox>

    <mat-form-field class="full-width-input">
      <input matInput [matDatepicker]="picker" placeholder="Birth Date" formControlName="birthDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!cowBirthForm.valid">Envoyer</button>
  </form>
</div>
