<mat-toolbar class="center" color="primary">
  <span>Ajout d'un bovin extérieur</span>
</mat-toolbar>

<div>
  <button (click)="goBack()" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <form (ngSubmit)="onSubmit()" [formGroup]="cowBirthForm" class="parent">
    <mat-form-field class="full-width-input">
      <input formControlName="loopNumber" matInput placeholder="Numéro de boucle">
    </mat-form-field>

    <mat-form-field class="full-width-input">
      <input formControlName="coat" matInput placeholder="Robe">
    </mat-form-field>

    <mat-checkbox formControlName="gender">Genre (cocher si male)</mat-checkbox>

    <mat-form-field class="full-width-input">
      <input [matDatepicker]="picker" formControlName="birthDate" matInput placeholder="Birth Date">
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button [disabled]="isSubmitting || !cowBirthForm.valid" color="primary" mat-raised-button type="submit">
      <span *ngIf="!isSubmitting">Envoyer</span>
      <span *ngIf="isSubmitting">Envoi en cours...</span>
    </button>
  </form>
</div>
