<mat-toolbar class="center" color="primary">
  <span>Ajout d'un produit</span>
</mat-toolbar>

<button (click)="goBack()" mat-icon-button>
  <mat-icon>arrow_back</mat-icon>
</button>

<form (ngSubmit)="onSubmit()" [formGroup]="productForm" class="parent">
  <mat-form-field class="example-full-width full-width-input">
    <input formControlName="name" matInput placeholder="Nom" type="text">
  </mat-form-field>

  <button [disabled]="isSubmitting || !productForm.valid" color="primary" mat-raised-button type="submit">
    <span *ngIf="!isSubmitting">Envoyer</span>
    <span *ngIf="isSubmitting">Envoi en cours...</span>
  </button>
</form>
