<mat-toolbar class="center" color="primary">
  <span>Ajout de naissance de vache</span>
</mat-toolbar>

<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="cowBirthForm" class="parent">
    <button (click)="goToComponent()" class="ext" color="primary" mat-raised-button>Ajout extérieur</button>
    <mat-form-field class="full-width-input">
      <input formControlName="loopNumber" matInput placeholder="Numéro de boucle">
    </mat-form-field>

    <mat-form-field class="full-width-input">
      <input formControlName="coat" matInput placeholder="Robe">
    </mat-form-field>

    <mat-checkbox formControlName="gender">Genre (cocher si male)</mat-checkbox>

    <mat-form-field class="full-width-input">
      <input [matDatepicker]="picker" formControlName="birthDate" matInput placeholder="Birth Date">
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox formControlName="cesarean">Césarienne (cocher si oui)</mat-checkbox>

    <mat-form-field class="full-width-input">
      <input [matAutocomplete]="auto" aria-label="Number" formControlName="motherLoopNumber" matInput
             placeholder="Numéro de boucle de la mère" type="text">
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
      <mat-option *ngFor="let loopNumber of filteredMotherLoopNumbers | async" [value]="loopNumber">
        {{ loopNumber }}
      </mat-option>
    </mat-autocomplete>

    <button [disabled]="isSubmitting || !cowBirthForm.valid" color="primary" mat-raised-button type="submit">
      <span *ngIf="!isSubmitting">Envoyer</span>
      <span *ngIf="isSubmitting">Envoi en cours...</span>
    </button>
  </form>
</div>
