<mat-toolbar color="primary" class="center">
  <span>Ajout d'une vente</span>
</mat-toolbar>

<form [formGroup]="saleForm" (ngSubmit)="onSubmit()" class="parent">

  <mat-form-field class="full-width-input">
    <input type="text" placeholder="Numéro de boucle" aria-label="Number" matInput formControlName="bovinLoopNumber" [matAutocomplete]="auto">
  </mat-form-field>

  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let loopNumber of filteredLoopNumbers | async" [value]="loopNumber">
      {{ loopNumber }}
    </mat-option>
  </mat-autocomplete>

  <mat-form-field class="full-width-input">
    <input matInput [matDatepicker]="picker" placeholder="Birth Date" formControlName="saleDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="full-width-input">
    <input matInput placeholder="Prix de vente" formControlName="amount" type="number">
  </mat-form-field>

  <mat-form-field class="full-width-input">
    <input matInput placeholder="Numéro de transporteur" formControlName="carrierNumber" type="number">
  </mat-form-field>

  <mat-form-field class="full-width-input">
    <input matInput placeholder="Numéro de client" formControlName="customerNumber" type="number">
  </mat-form-field>


  <button mat-flat-button color="primary" type="submit" [disabled]="!saleForm.valid">
    Envoyer
  </button>
</form>
