<mat-toolbar class="center" color="primary">
  <span>Ajout d'une échographie</span>
</mat-toolbar>

<form (ngSubmit)="onSubmit()" [formGroup]="ultrasoundForm" class="parent">
  <mat-form-field class="example-full-width full-width-input">
    <input [matDatepicker]="dp1" formControlName="scan_date" matInput placeholder="Scan Date">
    <mat-datepicker-toggle [for]="dp1" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #dp1></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width full-width-input">
    <input [matAutocomplete]="auto" formControlName="loopNumber" matInput placeholder="Numéro de boucle de la mère"
           type="text">
    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
      <mat-option *ngFor="let loopNumber of filteredMotherLoopNumbers | async" [value]="loopNumber">
        {{ loopNumber }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-checkbox formControlName="result">Positif (cocher si oui)</mat-checkbox>

  <button [disabled]="isSubmitting || !ultrasoundForm.valid" color="primary" mat-raised-button type="submit">
    <span *ngIf="!isSubmitting">Envoyer</span>
    <span *ngIf="isSubmitting">Envoi en cours...</span>
  </button>
</form>
