<mat-toolbar color="primary" class="center">
  <span>Ajout d'une échographie</span>
</mat-toolbar>

<form [formGroup]="ultrasoundForm" class="parent" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width full-width-input">
    <input matInput [matDatepicker]="dp1" placeholder="Scan Date" formControlName="scan_date">
    <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
    <mat-datepicker #dp1></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width full-width-input">
    <input type="text" placeholder="Numéro de boucle de la mère" matInput formControlName="loopNumber" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
      <mat-option *ngFor="let loopNumber of filteredMotherLoopNumbers | async" [value]="loopNumber">
        {{ loopNumber }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-checkbox formControlName="result">Positif (cocher si oui)</mat-checkbox>

  <button mat-raised-button color="primary" type="submit" [disabled]="!ultrasoundForm.valid">Envoyer</button>
</form>
