<!-- Grid for larger screens -->
<mat-grid-list class="lg-screen" cols="3" rowHeight="350px">
  <mat-grid-tile *ngFor="let pasture of pastures">
    <a (click)="viewDetails(pasture)">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar></div>
          <mat-card-title>{{ pasture.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Taille : {{ pasture.size }}
          </p>
        </mat-card-content>
      </mat-card>
    </a>
  </mat-grid-tile>
</mat-grid-list>

<!-- Grid for smaller screens -->
<mat-grid-list class="sm-screen" cols="1" rowHeight="350px">
  <mat-grid-tile *ngFor="let pasture of pastures">
    <a [routerLink]="['/pasture', pasture.id]">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar></div>
          <mat-card-title>{{ pasture.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Taille : {{ pasture.size }}
          </p>
        </mat-card-content>
      </mat-card>
    </a>
  </mat-grid-tile>
</mat-grid-list>
