<div class="container">
  <div class="info">
    <h1>Informations sur le bovin</h1>
    <mat-card class="mat-elevation-z8 info-card">
      <mat-card-content>
        <h3>Numéro de boucle : </h3>
        <p>{{ cow.loopNumber }}</p>
        <h3>Manteau : </h3>
        <p>{{ cow.coat }}</p>
        <h3>Genre : </h3>
        <p>{{ cow.gender ? 'Male' : 'Femelle' }}</p>
        <h3>Date de naissance : </h3>
        <p>{{ cow.birthDate }}</p>
        <h3>Césarienne : </h3>
        <p>{{ cow.cesarean ? 'Oui' : 'Non' }}</p>
        <h3>Père : </h3>
        <p>{{ cow.father }}</p>
        <h3>Mère : </h3>
        <p>{{ cow.mother }}</p>
        <h3>Pâturage : </h3>
        <p>{{ cow.pasture }}</p>
        <h3>Status : </h3>
        <p>{{ cow.status }}</p>
        <h2>Vente:</h2>
        <div class="margin">
          <h3>Date de vente : </h3>
          <p>{{ cow.saleDate }}</p>
          <h3>Montant : </h3>
          <p>{{ cow.amount }}</p>
          <h3>Numéro du transporteur : </h3>
          <p>{{ cow.carrierNumber }}</p>
          <h3>Numéro du client : </h3>
          <p>{{ cow.customerNumber }}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>



  <div class="lists">
    <mat-card class="list-card">
      <mat-card-title>Enfants</mat-card-title>
      <mat-card-content class="list-content">
        <ul>
          <li *ngFor="let child of cow.children">{{ child }}</li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card class="list-card">
      <mat-card-title>Injections</mat-card-title>
      <mat-card-content class="list-content">
        <ul>
          <li *ngFor="let injection of cow.injections">{{ injection }}</li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card class="list-card">
      <mat-card-title>Echographies</mat-card-title>
      <mat-card-content class="list-content">
        <ul>
          <li *ngFor="let ultrasound of cow.ultrasounds">{{ ultrasound }}</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
