.container {
  display: flex;
  height: 110vh;
  margin: 2rem;
  padding-bottom: 5rem;
}

h3 {
  font-weight: bold;
  margin: 0;
}

.lists {
  width: 50%;
  height: 100%;
}

.list-card {
  height: 30%;
}

.info {
  width: 50%;
  height: 100%;
}

.info-card, .list-card {
  padding: 2rem;
  margin: 2rem;
}

.list-content {
  overflow: auto;
}

.margin {
  margin-left: 1rem;
}

mat-table {
  overflow: auto;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    margin: 2rem 0 0 0;
  }

  .lists, .info {
    width: 100%;
    height: auto;
  }

  .info-card, .list-card {
    padding: 1rem;
    margin: 1rem;
  }
}


