<div class="centered-form">
  <form (ngSubmit)="login()" [formGroup]="loginForm" class="elevated-form">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input autofocus formControlName="login" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput type="password">
    </mat-form-field>
    <button [disabled]="loginForm.invalid" color="primary" mat-raised-button>Login</button>
  </form>
</div>



