<mat-toolbar class="center" color="primary">
  <span>Ajout d'une pature</span>
</mat-toolbar>

<form (ngSubmit)="onSubmit()" [formGroup]="pastureForm" class="parent">
  <mat-form-field class="example-full-width full-width-input">
    <input formControlName="name" matInput placeholder="Nom" type="text">
  </mat-form-field>

  <mat-form-field class="example-full-width full-width-input">
    <input formControlName="size" matInput placeholder="Taille" type="number">
  </mat-form-field>

  <button [disabled]="isSubmitting || !pastureForm.valid" color="primary" mat-raised-button type="submit">
    {{ isSubmitting ? 'Envoi en cours...' : 'Envoyer' }}
  </button>
</form>
