<mat-toolbar class="center" color="primary">
  <span>Ajout d'une injection</span>
</mat-toolbar>

<form (ngSubmit)="onSubmit()" [formGroup]="injectionForm" class="parent">

  <button (click)="addProduct()" class="product-button" color="primary" mat-raised-button type="button">Ajouter un
    produit
  </button>

  <mat-form-field class="example-full-width full-width-input">
    <mat-select formControlName="substanceName" placeholder="Produit">
      <mat-option *ngFor="let product of products" [value]="product.name">{{ product.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width full-width-input">
    <input [matDatepicker]="dp1" formControlName="injectionDate" matInput placeholder="Injection Date">
    <mat-datepicker-toggle [for]="dp1" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #dp1></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width full-width-input">
    <input [matAutocomplete]="auto" formControlName="bovinLoopNumber" matInput placeholder="Numéro de boucle"
           type="text">
    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
      <mat-option *ngFor="let loopNumber of filteredCowLoopNumbers | async" [value]="loopNumber">
        {{ loopNumber }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button [disabled]="isSubmitting || !injectionForm.valid" color="primary" mat-raised-button type="submit">
    <span *ngIf="!isSubmitting">Envoyer</span>
    <span *ngIf="isSubmitting">Envoi en cours...</span>
  </button>
</form>
