<form (ngSubmit)="onSubmit()" [formGroup]="pastureForm" class="parent">
  <h2>Assigner taureau à la pature: Actuel -> {{ bull }}</h2>
  <mat-form-field class="full-width-input">
    <input [matAutocomplete]="auto" aria-label="Number" formControlName="motherLoopNumber" matInput placeholder="Bull Loop Number"
           type="text">
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
    <mat-option *ngFor="let loopNumber of filteredBullsLoopNumbers | async" [value]="loopNumber">
      {{ loopNumber }}
    </mat-option>
  </mat-autocomplete>

  <button [disabled]="!pastureForm.valid" color="primary" mat-raised-button type="submit">Submit</button>
</form>
<div class="flex-container">
  <div class="example-container">

    <h2>Bovins</h2>

    <mat-form-field class="example-full-width">
      <input (input)="onSearchChange($event, 'todo')" matInput placeholder="Rechercher">
    </mat-form-field>

    <div
      #todoList="cdkDropList"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="[doneList]"
      [cdkDropListData]="filteredAvailableCows"
      cdkDropList
      class="example-list"
      id="available">
      @for (item of filteredAvailableCows; track item) {
        <div class="example-box" cdkDrag>{{ item.loopNumber }}</div>
      }
    </div>
  </div>

  <div class="example-container">
    <h2>{{ pastureName }}</h2>

    <mat-form-field class="example-full-width">
      <input (input)="onSearchChange($event, 'done')" matInput placeholder="Rechercher">
    </mat-form-field>

    <div
      #doneList="cdkDropList"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="[todoList]"
      [cdkDropListData]="filteredCowsInPasture"
      cdkDropList
      class="example-list"
      id="pasture">
      @for (item of filteredCowsInPasture; track item) {
        <div class="example-box" cdkDrag>{{ item.loopNumber }}</div>
      }
    </div>
  </div>


</div>
