
<form [formGroup]="pastureForm" (ngSubmit)="onSubmit()" class="parent">
  <h2>Assigner taureau à la pature: Actuel -> {{bull}}</h2>
  <mat-form-field class="full-width-input">
    <input type="text" placeholder="Bull Loop Number" aria-label="Number" matInput formControlName="motherLoopNumber" [matAutocomplete]="auto">
  </mat-form-field>

  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let loopNumber of filteredMotherLoopNumbers | async" [value]="loopNumber">
      {{ loopNumber }}
    </mat-option>
  </mat-autocomplete>

  <button mat-raised-button color="primary" type="submit" [disabled]="!pastureForm.valid">Submit</button>
</form>
<div class="flex-container">
  <div class="example-container">

    <h2>Bovins</h2>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Rechercher" (input)="onSearchChange($event, 'todo')">
    </mat-form-field>

    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="filteredTodo"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      @for (item of todo; track item) {
        <div class="example-box" cdkDrag>{{item}}</div>
      }
    </div>
  </div>

  <div class="example-container">
    <h2>Pature 1</h2>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Rechercher" (input)="onSearchChange($event, 'done')">
    </mat-form-field>

    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="filteredDone"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      @for (item of done; track item) {
        <div class="example-box" cdkDrag>{{item}}</div>
      }
    </div>
  </div>


</div>
