
<div class="mat-elevation-z8 overflow">
  <mat-form-field class="width_large">
    <input matInput (keyup)="applyFilter($event)" placeholder="Recherche par numéro de Travail">
  </mat-form-field>
  <mat-table [dataSource]="dataSource" matSort matSortActive="birthDate" matSortDirection="asc">

    <!-- LoopNumber Column -->
    <ng-container matColumnDef="loopNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Numéro de boucle </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.loopNumber}} </mat-cell>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Sexe </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.gender ? 'Male' : 'Femelle'}} </mat-cell>
    </ng-container>

    <!-- Coat Column -->
    <ng-container matColumnDef="coat">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Robe </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.coat}} </mat-cell>
    </ng-container>

    <!-- BirthDate Column -->
    <ng-container matColumnDef="birthDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Naissance </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.birthDate | date}} </mat-cell>
    </ng-container>

    <!-- Pasture Column -->
    <ng-container matColumnDef="pasture">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Pature </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.pasture}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="viewDetails(row)"></mat-row>
  </mat-table>
</div>
